<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>CheckBabelNetProp</filter-name>
        <filter-class>es.ua.dictionary.CheckBabelNetProp</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckBabelNetProp</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>es.ua.dictionary.FirstServiceEvents</listener-class>
    </listener>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>installfirst</servlet-name>
        <servlet-class>es.ua.dictionary.servlet.installFirst</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisambiguationService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DictionaryService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>installfirst</servlet-name>
        <url-pattern>/installfirst</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisambiguationService</servlet-name>
        <url-pattern>/DisambiguationService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DictionaryService</servlet-name>
        <url-pattern>/DictionaryService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
