#tableExplanations {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 40px auto;
    margin-bottom: 0px;
    width: 90%;
}

    #tableExplanations td {
        border: 1px solid #999999;
        padding: 5px;
    }

.first_col {
    width: 200px;
    text-align: center;
}

.c_button {
    float: right;
    margin-bottom: 30px;
    margin-right: 5%;
    margin-top: 20px;
}

.clear {
    clear: both;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: url("images/ui-bg_glass_100_adadad_1x400.png") repeat-x scroll 50% 50% #ADADAD;
    border: 1px solid #808080;
    color: #808080;
    font-weight: bold;
}

.selDocTitle {
    text-indent: 30px;
}

#questionNumber {
    text-indent: 30px;
    font-size: 20px;
    margin-top: 10px;
    color: #999999;
    text-shadow: 0 -1px #666666;
}

#questionContent {
    margin: 10px 0;
    margin-left: 30px;
}

.answer {
    margin: 5px 0;
    margin-left: 30px;
}

.fleft {
    float: left;
}

.answer_content {
    max-width: 90%;
    margin-left: 4px;
}

.hidden {
    display: none;
}