@model OpenBookSystemMVC.Models.NotAuthorizedModel

@{
    ViewBag.Title = "NotAuthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .userAccTitleTxt {
        color: #999;
        font-size: 30px;
        font-style: inherit;
        text-shadow: 0px -1px #666;  
        border-radius:5px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        -ms-border-radius:5px;
        -o-border-radius:5px;     
        background: none;
        border: none;    
        margin-top:-6px;
    }
</style>

<span class="userAccTitleTxt"> @Resources.ClientDefault.NotAuthorized_Message </span>

