@{
    ViewBag.Title = "PasswordRequestSent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ClientDefault.PasswordRequest_Success</h4>

<a href="/">@ClientDefault.PasswordRequest_BackToLogIn</a>
