@model OpenBookSystemMVC.Models.PrintDocumentModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Title</title>
    <style type="text/css">
        #result-simplified p {
            margin: 0;
            text-align: center;
        }
        
        #result-simplified p img {
            width:75px;
            height:75px;
        }

        h2 {
            text-align:center;
        }

        img {
            width: 100px;
            height: 100px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    </style>
</head>
<body>
@{ MvcForm formDocument = null; // You don't want to know...

       formDocument = Html.BeginForm("Print", "Documents", FormMethod.Post, new { id = "formDocument", enctype = "multipart/form-data" });
    
}
@using (formDocument)
{

    

    
    
    
    <h2>@Model.Title</h2>
    
    <div style="width:10%; height:100%; float:left; display:inline-block;">&nbsp;</div>
    
    <div id="result-simplified" tabindex="0" 
        style="font-size:@Model.DocumentFontSize; width:80%; display:inline-block;outline: none;" >
        @Html.Raw(Model.SimplifiedContent)
    </div>
    
    @Html.ValidationSummary()
}
</body>
</html>
