@{
    ViewBag.Title = "CheckEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    p {
        padding-left:10%;
        padding-right:10%;
        font-family: Arial;
        font-size: 1.1em;
    }
</style>

<p>
    @Resources.ClientDefault.CreateUserAccount_SuccessMessage
</p>
<p>   
    @Resources.ClientDefault.CreateUserAccount_SuccessNote
</p>

