<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SignUpEnabled" value="true" />
    <add key="FeedbackEnabled" value="true" />
    <!--<add key="FeedbackRecepient" value="openbooktestuser@gmail.com" />-->
    <add key="FeedbackRecepient" value="****" />
    <add key="LoggingEnabled" value="true" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="no-reply-1@first-asd.eu" deliveryMethod="Network">
        <network host="mail.first-asd.eu" port="26" userName="****" password="****" defaultCredentials="false" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <system.web>
    <customErrors defaultRedirect="/Error" mode="Off">
    </customErrors>
    <sessionState timeout="480" />
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
    <machineKey />
    <authentication mode="Forms">
      <forms loginUrl="LogIn" timeout="480" slidingExpiration="true" protection="All" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Resources" />
        <add namespace="OpenBookSystemMVC" />
        <add namespace="OpenBookSystemMVC.OBISReference" />
        <add namespace="OpenBookSystemMVC.Utility" />        
      </namespaces>
    </pages>
    <membership defaultProvider="OBSMembershipProvider">
      <providers>
        <clear />
        <add name="OBSMembershipProvider" type="OpenBookSystemMVC.OBSMembershipProvider" />
      </providers>
    </membership>
    <roleManager defaultProvider="OBSRoleProvider" enabled="true" cacheRolesInCookie="true">
      <providers>
        <clear />
        <add name="OBSRoleProvider" type="OpenBookSystemMVC.OBSRoleProvider" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" maxQueryString="2147483647" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOpenBookAPIService" closeTimeout="02:00:00" openTimeout="02:00:00" receiveTimeout="02:00:00" sendTimeout="02:00:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://iwebtech.dynalias.com/FIRST/v4_0/OpenBookAPIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOpenBookAPIService" contract="OBISReference.IOpenBookAPIService" name="BasicHttpBinding_IOpenBookAPIService" />
    </client>   
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="ServiceTraceLog.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
