.obs-button {
    background-color: #56a0c9;
    color: white;
    display: inline-block;
    height: 28px;
    text-align: center;
    line-height: 26px;
    border: 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
}

.docreview-container {
}

.content-area .sentence.selected {
    background-color: silver;
}

.document-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 22px;
}

.content-area {
    border: 1px solid silver;
    overflow-y: auto;
    padding: 5px;
    background-color: white;
    height: 552px;
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
    position: relative;
}

    .content-area .word.obstacle {
        color: red;
    }

    .content-area .multiword.idiom.word {
        font-style: italic;
        font-weight:bold;
    }

    .content-area .highlight {
        background-color: transparent !important;
    }

    .content-area img {
        width: 100px;
        height: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        cursor: -webkit-zoom-in;
        cursor: -moz-zoom-in;
        cursor: zoom-in;
    }

    .content-area .sentence {
        padding-right: 8px;
    }

    .content-area .carer-note {
        border: 4px solid blue;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        margin-left: 2px;
        display: inline-block;
        cursor: pointer;
        vertical-align: super;
        position: relative;
    }

.text-node-point {
    vertical-align: super;
    position: relative;
    display: inline-block;
    background: url('/Images/RedDot.png') bottom no-repeat;
    content: '';
    width: 8px;
    height: 8px;
    cursor: pointer;
}


.container-left {
    width: 47%;
    height: 600px;
    float: left;
}

.container-right {
    float: right;
    width: 47%;
    height: 563px;
    margin-top: 17px;
    position: relative;
}

    .container-right h5 {
        margin-top: 0px;
        margin-bottom: 5px;
    }

.left-buttonbar {
    margin-top: 20px;
    text-align: justify;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    width: 590px;
}

    .left-buttonbar button {
        width: 80px;
        height: 28px;
        padding: 0px;
    }

    .left-buttonbar .linebreak {
        display: inline-block;
        width: 100%;
    }

    .left-buttonbar .contact-button {
        width: 155px;
        padding: 0px;
    }

    .left-buttonbar .icon-arrow-left, .left-buttonbar .icon-arrow-right {
        width: 40px;
    }

    .left-buttonbar .preview-button {
        width:80px;
    }

.right-buttonbar {
    text-align: right;
    margin-top: 24px;
    float: right;
    margin-right: 4px;
}

    .right-buttonbar button {
        width: 80px;
        margin-left: 5px;
    }

    .right-buttonbar .reprocess-button {
        width:100px;
    }



.preview-original-sentence {
    font-size: 14px;
    font-style: italic;
    height: 96px;
    overflow-y: auto;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    padding-top: 3px;
}

    .preview-original-sentence .highlight {
        background-color: transparent !important;
    }

    .preview-original-sentence img {
        width: 100px;
        height: 100px;
    }

.edit-transformed-sentence {
    border: 1px solid silver;
    background: white;
    height: 135px;
    overflow-y: auto;
    padding: 5px;
}

    .edit-transformed-sentence.obstacle-on .obstacle.word {
        color: red;
    }

    .edit-transformed-sentence.obstacle-on .multiword.idiom.word {
        font-style: italic;
        font-weight:bold;
    }

    .edit-transformed-sentence .highlight {
        background-color: transparent !important;
    }

    .edit-transformed-sentence img {
        width: 100px;
        height: 100px;
        /*cursor:-webkit-zoom-in;
        cursor:-moz-zoom-in;
        cursor:zoom-in;*/
    }

    .edit-transformed-sentence .carer-note {
        border: 4px solid blue;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        margin-left: 2px;
        display: inline-block;
        cursor: pointer;
        vertical-align: super;
        position: relative;
    }

.sentence-operations-bar {
    height: 30px;
    margin-top: 10px;
    font-size: 14px;
}

    .sentence-operations-bar button {
        background: transparent;
        border: none;
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }

    .sentence-operations-bar div {
        display: inline-block;
    }

    .sentence-operations-bar .alt-struct {
        float: left;
    }

    .sentence-operations-bar .obstacles-btn {
        float: right;
    }

.sentence-operations-container {
    max-height: 243px;
    margin-top: 10px;
}

    .sentence-operations-container .icon-envelope-alt {
        position: absolute;
        right: -33px;
        top: 257px;
        font-size: 24px;
        color: gray;
        cursor: pointer;
    }

.alternative-structures-body {
    border: 1px solid silver;
    padding: 5px;
    overflow-y: auto;
    height: 230px;
    background: white;
}

    .alternative-structures-body ul {
        padding-left: 0;
        list-style: none;
        margin-top: 0;
        border-bottom: 1px solid #CCC;
        height: 185px;
        overflow-y: auto;
        margin-bottom: 10px;
    }

        .alternative-structures-body ul li {
            margin-bottom: 10px;
        }

    .alternative-structures-body .alt-label {
        font-weight: bold;
    }

    .alternative-structures-body .alt-label-delete {
        color: red;
    }

    .alternative-structures-body button {
        background-color: #56a0c9;
        width: 160px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

#feedbackBtn {
    position:relative;
}

.obstacles-body {
    padding: 5px;
    height: 230px;
}

    .obstacles-body .word-options-title {
        text-align: center;
        margin-bottom: 15px;
        position: relative;
        overflow:visible;
    }

.feedback-baloon {
    position: absolute;
    z-index: 1000;
    left: 220px;
    top: 40px;
    background: rgb(246, 253, 162);
    border: 1px solid #CCC;
    padding: 5px 10px 10px 10px;
    border-radius: 7px;
    text-align: left;
    width: 300px;
}

    .feedback-baloon:after {
        position: absolute;
        content: '';
        display: block;
        left: 21px;
        top: -24px;
        border-right: 23px solid rgba(255, 255, 255, 0);
        border-bottom: 28px solid rgb(246, 253, 162);
    }

    .feedback-baloon .feedback-close {
        width:100%;
        text-align:right;
    }

.feedback-baloon .icon-remove:hover {
    background: #CCC;
    cursor:pointer;
}

    .feedback-baloon ul {
        margin-top: 5px;
    }
        .obstacles-body .word-options-title .obstacle-text {
            color: red;
        }

    .obstacles-body .obstacle-text:before {
        color: inherit;
        content: '*';
    }

    .obstacles-body .obstacle-text:after {
        color: inherit;
        content: '*';
    }



.obstacles-options-area {
    height: 201px;
    border: 1px solid silver;
}

.linklike-button {
    background: none;
    border: none;
    outline: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.obstacles-menu-container {
    background-color: #fff;
    height: 181px;
    padding-top: 20px;
    position: relative;
}

    .obstacles-menu-container .obstacles-options-menu {
        padding-left: 20px;
        list-style: none;
        line-height: 40px;
        margin-top: 0px;
    }

    .obstacles-menu-container .obstacles-menu-close {
        width: 100px;
        float: right;
        margin-right: 10px;
        position: absolute;
        right: 0;
        bottom: 10px;
    }

.data-loading {
    /* Preloaders.net */
    background: url('../Images/AjaxLoader.gif') center no-repeat white;
}

.obstacles-synonyms-container {
    background-color: white;
    overflow-y: auto;
    height: 201px;
}

    .obstacles-synonyms-container ul {
        list-style: none;
        padding-left: 20px;
        overflow-y: auto;
        height: 100px;
        margin-bottom: 10px;
    }

        .obstacles-synonyms-container ul li {
            margin-bottom: 10px;
        }

    .obstacles-synonyms-container h5 {
        margin-top: 10px;
        margin-left: 20px;
    }

        .obstacles-synonyms-container h5:after {
            content: ':';
        }

.synonyms-buttonbar {
    text-align: right;
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #CCC;
    padding-right: 10px;
}

    .synonyms-buttonbar button {
        width: 100px;
        margin-left: 10px;
    }

.obstacles-images-container {
    background: white;
    height: 201px;
    overflow: auto;
}

    .obstacles-images-container h5 {
        margin-left: 10px;
        margin-top: 5px;
    }


    .obstacles-images-container .images-wrapper {
        width: 392px;
        overflow-x: auto;
    }

    .obstacles-images-container .obstacles-images {
        list-style: none;
        padding-left: 10px;
        overflow-x: auto;
        height: 100px;
        margin-bottom: 5px;
        margin-top: 10px;
    }

        .obstacles-images-container .obstacles-images li {
            display: inline-block;
        }

            .obstacles-images-container .obstacles-images li img {
                width: 96px;
                height: 96px;
                border: 2px solid white;
                cursor: -webkit-zoom-in;
                cursor: -moz-zoom-in;
                cursor: zoom-in;
            }

        .obstacles-images-container .obstacles-images .selected-img {
            border: 2px solid #56a0c9;
        }


    .obstacles-images-container .images-buttonbar {
        margin-top: 10px;
        padding-left: 10px;
    }

        .obstacles-images-container .images-buttonbar button {
            width: 100px;
            margin-right: 10px;
        }

        .obstacles-images-container .images-buttonbar .fl-left {
            float: left;
        }

        .obstacles-images-container .images-buttonbar .fl-right {
            float: right;
        }

.insert-image-dialogue {
    width: 300px;
    height: 200px;
}

    .insert-image-dialogue h5 {
        margin-bottom: 10px;
    }

    .insert-image-dialogue input {
        width: 80%;
    }

.ui-dialog-buttonpane {
    text-align: center !important;
}

.ui-dialog-buttonset {
    float: none !important;
}

.obstacles-definitions-container {
    background: white;
    height: 201px;
    overflow: auto;
}

    .obstacles-definitions-container h5 {
        padding-left: 20px;
        padding-top: 10px;
    }

    .obstacles-definitions-container .definitions-list {
        padding-left: 20px;
        list-style: none;
        height: 100px;
        overflow-y: auto;
        margin-bottom: 10px;
    }

        .obstacles-definitions-container .definitions-list li {
            margin-bottom: 5px;
        }

        .obstacles-definitions-container .definitions-list .definition-html {
            display: inline;
        }

        .obstacles-definitions-container .definitions-list a {
            text-decoration: underline;
            color: blue;
        }

    .obstacles-definitions-container .definitions-buttonbar {
        text-align: right;
        padding-right: 10px;
        border-top: 1px solid #CCC;
        padding-top: 10px;
        padding-bottom: 10px;
    }

        .obstacles-definitions-container .definitions-buttonbar button {
            width: 140px;
            margin-left: 10px;
        }

.obstacles-synonyms-container .anaphoras-list {
    list-style: none;
    padding-left: 20px;
    overflow-y: auto;
    height: 100px;
    margin-bottom: 10px;
}

.edit-title-dialogue input {
    width: 80%;
}

.edit-title-dialogue h5 {
    margin-bottom: 5px;
}

.error-notification-container {
    background: white;
    height: 201px;
    overflow: auto;
}

    .error-notification-container .error-message {
        display: block;
        text-align: center;
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .error-notification-container .error-buttonbar {
        text-align: right;
        padding-right: 10px;
    }

.selected-note-container {
    background: white;
    height: 220px;
    overflow: auto;
    padding: 5px;
}

    .selected-note-container textarea {
        width: 398px;
        resize: none;
        margin-top: 2px;
        margin-bottom: 2px;
        max-height: 200px;
        height: 155px;
        border: 1px solid silver;
    }


.transf-sent-topbar {
    margin-bottom: 5px;
    margin-top: 12px;
    height: 30px;
}

    .transf-sent-topbar h5 {
        display: block;
        padding-top: 5px;
        float: left;
    }

    .transf-sent-topbar button {
        float: right;
    }

/* The first parameter of the custom cursor is the one which will be used, the second - the gif version, 
    is for browsers that do not support .cur formats, the third - auto parameter, is for mozilla */
.addnote-on {
    cursor: url(/Images/cursors/place-carer-note.cur),url(/Images/cursors/place-carer-note.gif),auto;
}

#newnote-container {
    display: none;
}

.contact-user-dialogue {
    display: none;
}

    .contact-user-dialogue input {
        width: 600px;
    }

    .contact-user-dialogue textarea {
        min-width: 600px;
        max-width: 600px;
        height: 240px;
        resize: vertical;
    }

    .contact-user-dialogue .heading {
        display: block;
        font-size: 16px;
    }

    .contact-user-dialogue .loading {
        width: 100%;
        height: 100%;
        z-index: 1;
        display: none;
        background: url('../Images/AjaxLoader.gif') center no-repeat #fff;
        position: absolute;
        top: 0;
        left: 0;
    }

    .contact-user-dialogue .finished {
        color: green;
        text-align: center;
        z-index: 1;
        width: 100%;
        height: 100%;
        line-height: 300px;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
    }

.edit-summary-dialogue {
    display: none;
}

    .edit-summary-dialogue textarea {
        min-width: 600px;
        max-width: 600px;
        height: 240px;
        resize: vertical;
    }

    .edit-summary-dialogue span {
        display: inline-block;
        width: 100%;
    }

.preview-doc-container .underline {
    text-decoration: underline;
}

.preview-doc-container .bold {
    font-weight: bold;
}

.preview-doc-container img {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}
