/* DocumentEdit */

.sentence {

}

.word {

}

.highlight {

}

.magnified {

}

.underline {
    text-decoration:underline;
}

.bold {
    font-weight:bold;
}

.ddlSelectPatient {
    width:200px;
    height:32px;
    color:#5882CC;  
}

.apprText {
    color:#5882CC;
    /*float: left;
    display: inline-block;*/
    margin-top: 8px;
    margin-left: 10px;
}

.obs-button {
    background-color: #56a0c9;
    color: white;
    display: inline-block;
    height: 28px;
    text-align: center;
    line-height: 26px;
    border: 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
}

.label-check-selected #label-check-done {
    background: url(../Images/EditDocument/chkBoxOn.png) no-repeat right;
}

.label-check-deselected #label-check-done {
    background: url(../Images/EditDocument/chkBoxOff.png) no-repeat right;
}

.label-check-done {
    width: 33px;
    height: 32px;
    display: block;
    float: left;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
    -ms-user-select:none;     
    cursor: pointer;
}

.stylePatientMenu {
    width:180px;
    height:32px;
    background-color:#FFF;
}

.inputContainer {
    margin-left:4%;   
}

.convert-text {
    min-width: 100px;
    height: 34px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    text-align: center;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size:14px;
    background-color: #56a0c9;
    padding-left: 10px; 
    padding-right: 10px;
    -webkit-appearance: none;
}

.wordPicture {
    width:80px;
    height:80px;
    float:right;
}

.save-text-button {
    min-width: 100px;
    max-width: 200px;
    color: #fff;
    font-size: 14px;
    height: 34px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    line-height:32px;
    background-color: #56a0c9;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-appearance: none;
}

.urlInput {
    margin-top:10px;
    min-width:100px;
    height:28px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;  
    border:1px solid #CCC;
    text-indent:5px; 
    cursor:pointer;  
}

/* new style */

.doc-inner-body {
    height: 100%;
    width: 100%;
    background-color: #e6e6e6;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;    
    padding-bottom:30px;
}

.tabs-text-input {
    width:94%;
    margin-left:auto;
    margin-right:auto;
    height:32px;
    background-color:#CCC;
    list-style:none;
    padding:0px;
    border:solid 1px #999999;
    cursor:pointer;
    margin-top:0px;
    margin-bottom:0px;
    border-bottom-style:none;
}


    .tabs-text-input li {
        float: left;
        width: 33.2%;
        font-family: Arial;
        text-align: center;
        vertical-align: central;
        line-height: 32px;
        color: #666666;
        position: relative;    
    }
    
    
    
.tabs-text-input li.wide-item {
    width:50%;
}

.tabs-text-input li.small-item {
    width:32%;
}

.tabs-text-input li.selected {
    background-color:#FFF;  
    color:#666;        
    border-bottom:1px solid #CCC;
}

.document-input-container {
    width:94%;
    margin-left:auto;
    margin-right:auto;
    border:solid 1px #999999;    
    height:300px;
    border-top-style:none;
}

.document-input-container textarea {
    width:100%;
    height:96.4%;
    resize:none;
    background-color:white;    
    display:none;
    padding:0px;
    margin:0px;
    border-style:none;
    padding-top:10px;
}

    .document-input-container input[type="text"] {
        background-color:white;    
        display:none;
        width: 70%;
        height: 20px;
        position: absolute;
        left: 15%;
        top: 10%;
    }

.document-input-container textarea.show-area, input[type="text"].show-area {
    display:inline-block;    
}


.document-input-container #input-file {
    padding-top: 4%;
    padding-left: 5%;
    width: 80%;
    height: 80%;
    background-color: #e6e6e6;
}

.document-input-container #input-file span {
    float:left;
    font-family:Arial;
    clear:left;
}

.button-select-file {
    background:url(/Images/browse_btn.png) right no-repeat;
    width:151px;
    height:32px;
    float:left;
    margin-top:20px;
    cursor:pointer;
    border-style:none;
    font-family:Arial;
    font-size:14px;
    color:#666;
    clear:left;
}

.document-input-div-container {
    padding-left:1%;
    padding-top:1%;
    width:99%;
    height:97%;
    background-color:white;    
    display:none;
    margin:0px;
    overflow-y: auto;
    line-height: 18px;
    cursor:text;
}

.document-input-container div.show-area {
    display:inline-block;    
}

.document-input-div-container img {
    width:100px;
    height:100px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    cursor:-webkit-zoom-in;
    cursor:-moz-zoom-in;
    cursor:zoom-in;
}


.select-patient-panel {
    margin-left:auto;
    margin-right:auto;
    width:200px;
    margin-top:20px;
}

.select-patient-panel div{
    margin-left:auto;
    margin-right:auto;    
}

.select-patient-panel span{
    margin-left:auto;
    margin-right:auto;    
    text-align:center;
    display:block;
    width:100%;
    height:20px;     
}

.select-patient-label {
    color:#666;
}

.edit-document-toolbar {
    width: 95%;
    margin-left: auto;
    display: block;
    margin-top: 0;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-left: 0;
    margin-right: auto;
    text-align: left;
}

.edit-document-toolbar input{
    cursor:pointer;
}

.make-invisible {
    visibility:hidden;
}

.make-hard-invisible {
    visibility:collapse;
    display: none;
}

.field-validation-error {
    color: red !important;
    font-family: Arial;
    font-size: 14px;
}

.check-container {
    width: 100px;
    display: block;
    height: 32px;
    position: relative;
    left: 2.7%;
    cursor: pointer;
    float: left;
    margin-top: 20px;
}

/* Closes dialog "X" close button */
.dialog-hide-close .ui-dialog-titlebar-close 
{
    display: none;      
}

.edit-document-toolbar > li {
    display: inline-block;
    margin-right: .1%;
    width: 129px;
    height: 38px;
    cursor: pointer;
    background-color: #CCC;
    cursor: pointer; 
    border-radius:7px;
    vertical-align:middle;
    border: 2px solid #e6e6e6;
    text-align: center;
}

    .edit-document-toolbar > li:hover {
        border: 2px solid #999;
    }

.edit-document-toolbar > li .menu-span,
.edit-document-toolbar > li .menu-div{
    display:block;
    float: left;
    margin-top:10px;
}

.edit-document-toolbar > li .menu-span {
    font-size:16px;
    font-family:Arial;
    margin-top: 10px;
    margin-right:5px;
}

    .edit-document-toolbar > li .chzn-container {
        margin-top:7px;
        display:block;
        float:left;
    }

.edit-document-toolbar .fonticon-fix {
    font-size: 18px;
    line-height: 36px;
    display: inline-block;
    float: left;
    margin-left: 10px;
}

.menu-label-span {
    font-size:16px;
    font-family:Arial;
    margin-top: 10px;
    margin-right:5px;
    width:130px;
    float:right;
}

.color-dark-gray {
    color:#666;
}

.toolbar-item-explain {
    margin-right:0px !Important;    
}

.view-document-print {
    min-width: 100px;
    height: 34px;
    font-size: 14px;
    color: #fff;
    border-style: none;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    text-decoration: none;
    line-height: 35px;
    text-align: center;
    display:inline-block;
    background-color: #56a0c9;
    padding-left: 10px;
    padding-right: 10px;
}

.input-doc-title {
    width: 253px;
}

.list-word-choices {
    list-style:none;
    padding:0px;
}

.list-word-choices li {
    cursor:pointer;
    width: 100%;
    border: 1px solid #616161;
    margin-top: 5px;
    border-radius: 5px;
    text-align: left;
    padding-top: 6px;
    padding-left: 5px;
    font-size:0.9em;    
}

.list-word-choices li.selected {
    background-color: #CCC;
}

.dialog-select-picture {
    overflow: auto;
    width: 400px;
    height: 120px; 
}

.dialog-select-picture .images-wrapper {
    
}

.dialog-select-picture img {
    width:100px;
    height:100px;
    position: relative;
	display: block;
	float: left;	
    margin-left:10px;
	padding: 0;
}

.dialog-select-picture img.selected {
    border:3px solid #5882CC;
}

.inserted-picture {
    width:75px;
    height:75px;
}

.ComplexSentence
{
    color: #CCC !Important; 
    text-decoration: line-through;
}
.AlternateSentence
{
    font-weight: bold !Important;
}

.show-multiwords .multiword.idiom.word {
    font-style: italic;
    font-weight:bold;
}

.show-obstacles .word.obstacle {
    font-style: italic;
    font-weight:bold;
}

#editdoc-error-summary ul {
    width:300px;
    margin-left:auto;
    margin-right:auto;
    color:red;
}

#result-simplified .sentence {
    padding-right:8px;
}

#result-simplified .carer-note {
    border: 4px solid blue;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-left: 2px;
    display: inline-block;
    cursor: pointer;
    vertical-align: super;
    position: relative;
}

.documents-button-show-hide {
    width: 120px;
    height: 32px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    color: #666;
    display: block;
    float: left;
    margin-top: 2px;
    margin-right: 24%; 
}

.document-operation-result {
    background-color: white;
    height: 200px;
    width: 94%;
    margin: 20px auto 0;
    border: solid 1px #999;
    overflow:hidden;
}

    .document-operation-result .operation-result-body {
        overflow-x:hidden;
        overflow-y:auto;
        height:155px;
    }


    .document-operation-result .small_image {
        margin: 5px;
        max-width: 100px;
        max-height: 100px;
    }

    .document-operation-result .medium_image {
        margin: 5px;
        max-width: 170px;
        max-height: 170px;
    }

    .document-operation-result .picture_box {
        margin-top: 10px;
    }
    
    .document-operation-result img {
        cursor:-webkit-zoom-in;
        cursor:-moz-zoom-in;
        cursor:zoom-in;
    }

    .document-operation-result .picture_box_title {
        margin-right: 10px;
    }

    .document-operation-result .red {
        color: #FF0000;
    }

    .document-operation-result .ui-button {
        font-size: 12px !important;
    }

#ask_carer_question {
    width: 300px;
    margin-bottom: 5px;
}

#ask_carer_center_div {
    width: 310px;
    text-align: center;
}

.ask_carer_dialog label {
    font-size: 16px;
    display: block;
    width: 300px;
    text-align: left;
}

.ui-button {
    font-size: 14px !important;
}

.ui-dialog-title {
    font-size: 14px !important;
}

.center {
    margin: 0 auto;
}

.document-button-bar {
    text-align:center;    
    margin: 20px auto;
    height: 38px;
}

.document-button-bar-inedit {
    padding-left: 40px;
}

.close-document-button {
    border-style: none;  
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    text-decoration: none;
    line-height: 35px;
    text-align: center;   
    color: white;
    font-size: 14px;
    min-width: 100px;
    height: 34px;
    display:inline-block;
    background-color: #56a0c9;
    padding-left: 10px;
    padding-right: 10px;
}

.theme-icon-outer {
    width: 30px;
    height: 15px;
    position: relative;
    border:1px solid black;
    
}



.theme-icon-inner { 
    content: "";
    width:0;
    height: 0;
    position: absolute;
    bottom:0;
    left:0;
    border-top: solid 15px;
    border-right: solid 30px;
    border-top-color:black;
    border-top-color:white;
}

.theme-button {
    position:relative;
    cursor:pointer;
}

.theme-menu {
    position: absolute;
    border: 1px solid black;
    background: white;
    width: 200px;
    padding: 0px;
    top: 40px;
    z-index: 10;
    left: -2px;
    padding-bottom:10px;
    list-style:none;
}

    .theme-menu li {
        line-height: 14px;
        padding-left: 10px;
        float:left;
    }

        .theme-menu li .theme-icon-outer {
            margin-right:10px;
        }

.theme-menu-trigger {
    margin-top: 0px !important;
    margin-left: 20px;
}

.theme-menu-trigger .theme-icon-outer {
    margin-top: 12px !important;
}

.edit-document-toolbar > li input {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    float: left;
    font-size: 16px;
    white-space: pre-wrap;
}

.edit-document-toolbar > li button-text {

}

.edit-document-toolbar > li long-button-text {
    line-height:20px;
}

.toolbar-button-text {
    font-size: 16px;
    text-align: center;
    display: inline-block;
    width: 100%;
    line-height: 37px;
    white-space: pre-wrap;
    border-radius:7px;
}

.active-button {
    background-color:#6aa8cf !important;
}

.blank-button .ddlCustomContainer {
    margin-top:8px;
}

.font-size-label {
    margin-left:10px;
    font-size: 16px;    
    font-family: Arial;
    margin-top: 11px;
    float:left;
    display:inline-block;
    margin-right: 3px;
}

.privacy-radiogroup {
    width: 300px;
    margin-left: 41%;
    margin-top: 20px;
}

.select-fontsize {
    width:55px;
    margin-top:10px;
}

.chzn-results #ddlFontSize_chzn_o_0 {
    font-size:14px;
    text-transform: none;
}

.chzn-results #ddlFontSize_chzn_o_1 {
    font-size:16px;
    text-transform: none;
}

.chzn-results #ddlFontSize_chzn_o_2 {
    font-size:18px;
    text-transform: none;
}

.chzn-results #ddlFontSize_chzn_o_3 {
    font-size:20px;
    text-transform: none;
}

.chzn-results #ddlFontSize_chzn_o_4 {
    font-size:22px;
    text-transform: none;
}

.chzn-results #ddlFontSize_chzn_o_5 {
    font-size:24px;
    text-transform: none;
}

.chzn-results #ddlFontSize_chzn_o_6 {
    font-size:18px;
    text-transform: uppercase;
}

.chzn-single > span {
    width:30px;
}

.delete-highlight-button {
    width:160px;
}

.text-node-point {
    border: 4px solid red;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-left:2px;
    display:inline-block;
    cursor:pointer;
    vertical-align:super;
    position:relative;
}

.touch-enabled .text-node-point:after {
    content: '';
    position: absolute;
    padding: 15px;
    top: -15px;
    left: -15px;
    z-index:1000;
}

.touch-point {
    position:relative;
}

    .touch-point:after {
        content: '';
        position: absolute;
        padding: 15px;
        top: -15px;
        left: -15px;
        background-color: red;
    }

.note-text {
    display: block;
    max-width: 99%;
    min-width: 99%;
    overflow-x: hidden;
    resize: none;
    border: none;
    max-height: 110px;
    min-height: 110px;
}

.button-save-note {
    float:right;
    margin-top:5px;
    margin-right:20px;
}

.button-delete-note {
    float:right;
    margin-top:5px;
    margin-right:4%;
}

.dialog-explain-wrapper {
    margin-top:14px;
    position:relative;
    /*display:none;*/
}

.dialog-explain-wrapper textarea {
    font-family: Arial;
    border-bottom: 1px solid #999;
    border-left: none;
    border-right: none;
}

.del-marker {
    line-height:17px;
}
.askcarerButtonbar {
    width:100%;
    text-align:right;
}

    .askcarerButtonbar a {
        float:none;
    }

#label_check_done_container {
    cursor: pointer;
}

.button-send-request {
    float:right;
    margin-top:5px;
    margin-right:20px;
}

.button-cancel-request {
    float:right;
    margin-top:5px;
    margin-right:4%;
}

/* The first parameter of the custom cursor is the one which will be used, the second - the gif version, 
    is for browsers that do not support .cur formats, the third - auto parameter is for mozilla */
.place-note-cursor {
    cursor: url(/Images/mouse-cursor-icon.cur),url(/Images/place-note-cursor.gif) ,auto;
}

.button-icon-wrapper {
    display: table-cell;
    height: 40px;
    vertical-align: middle;
}

.button-text-wrapper {
    display: table-cell;
    width: 100px;
    vertical-align: middle;
    height: 40px;
    text-align: center;
}

.notificationDialog {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid #999;
    padding-bottom: 7px;
    padding-top:5px;
}

    .notificationDialog input {
        width: 91.7%;
        display: inline-block;
        padding: 0px;
        margin: 0px;
    }

    .notificationDialog textarea {
        display: block;
        width: 100%;
        max-width: 100%;
        min-height: 150px;
        padding: 0px;
    }

.notifSingleLine {
    margin-left: 5px;
    margin-bottom: 3px;
    height: 20px;
}

.customMessage {
    background-color: white;
    width: 94.5%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    text-align: center;
    padding-top: 30px;
    border: solid 1px #999;
}

.no-definition-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 200px;
}

.ajax_loader {
    width: 100%;
    height: 150px;
    background: url('../Images/AjaxLoader.gif') center no-repeat white;
}

.server-error span {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 70px;
}

.document-title {
    text-align: center;
    margin-bottom: 10px;
    line-height: 26px;
    font-size: 22px;
} 

    #result-original .sentence {
        padding-right: 8px;
    }


.simplifying-loader {
    position:absolute;
    background:white;
    /*background: url('../Images/AjaxLoader.gif') center no-repeat white;*/
    display:none;
    position: absolute;
    top: 0;
    /*opacity: 0.7;
    filter: alpha(opacity=70);*/
    width:100%;
    height:100%;
    z-index:1000;
}

.simplifying-loader img {
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:120px;
}

.summary-content {
    padding:5px;
    overflow-y: auto;
    height: 150px;
}


/* end of new style */
@media only screen and (max-width:50em) {
    #btnDownload {
        display: none;
    }
	
	.save-text-button, .view-document-print, .close-document-button {
		margin-left: 5px;
	}
}

@media only screen and (max-width:40em) {
    #btnDownload {
        display: none;
    }
	
	.document-button-bar {
		width: 490px;
	}
	
	.save-text-button, .view-document-print, .close-document-button {
		margin-left: 5px;

	}
}

/*@media only screen and (max-width:34.375em) {
    .check-container {
        position:static;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        cursor:pointer;
    }
}*/

#dlgDownload {
    display: none;
}

#dlgDownload ul{
    list-style: none;
}

#dlgDownload ul li{
    margin-bottom: 10px;
}

#dlgDownload label{
    padding-left: 10px;
}

.notificationHeader {
    border-bottom: 1px solid #000000;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    background-color: #AAAAAA;
    width: 100%;
    top: 0px;
}

.notificationHeader  #searchText {
    position:relative;
}

.dialog-explain-wrapper .close-result-button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0%;
    right: 2.8%;
}

.done-label-wrapper {
    display: table-cell;
    height: 32px;
    vertical-align: middle;
}

/* End-DocumentEdit */