.editPatDetLabel {
    font-family:Arial;
    color:#4D4D4D;
    font-size:14px;
    margin-left: 15px;
}

.editPatInfoArea {
    resize: none;
    height: 145px;
    width: 93%;
    margin-top: 10px;
    margin-left: 1px;
    text-indent: 10px;
    padding-top: 10px;  
}

.editPatBottomPan {
    height:250px;
    width:31%;
    float:left;
    margin-left:4%;
}

.editPatTableRow {
    width:490px;
    height:62px;
}

.editPatTableLabelCell {
    width:220px;
    height:40px;
    text-align:right;
    font-family:Arial;
    font-size:14px;
    color:#808080;
    padding-bottom:10px;
}

.ddlSexCont {
    margin-left: 15px;
    width: 80px;
    border:1px solid #B3B3B3;
}