/*Old Styles */

.selDocBtnLine {
    width:100%;
    height:20px;
    margin-bottom:20px;
    right: 1.8%;
    position: relative;

}

.selDocBtn {
    min-width:160px;
    height:32px;
    font-size:14px;
    color:#FFF;
    border-style:none;
    float:right;
    cursor:pointer;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    -ms-border-radius:7px;
    -o-border-radius:7px;
    border-radius:5px;   
    background-color: #56a0c9;
    padding-left: 10px; 
    padding-right: 10px;
    text-decoration: none;
    line-height:20px;
    text-align:center;
}

.selDocBtnDiv {
    width:100px;
    float:right;
    margin-left:30px;
    text-align:center;
}

.selDocInnerText {
    position: relative;
    top: 20%;
    font-family:Arial; 
}

#documents-error-summary ul {
    width:500px;
    margin-left:auto;
    margin-right:auto;
    color:red;
}

/* New Styles */
.library-body {
    width: 96%;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border:1px solid #575757;
    height: 400px;
    overflow: hidden;
    color: #004FA1;
    margin: 0px auto 70px;
}

.labels-header {
    width:18%;
    padding-top:10px;
    padding-left:2.1%;
    float:left;
    border-right:1px solid #575757;
    height:100%;
}



.library-menu {
    height:20px;
    width:77%;
    display:block;
    float:right;
    height:100%;
}

    .library-menu li {
        float:left;       
        margin-top: 8px;
    }

.library-header-row {
    height:40px;
    border-bottom:1px solid #575757;
    background-color:rgb(129, 129, 129);
    color:white;
}

.fav-on {
    background:url('../Images/fav_on.png') center no-repeat;
    padding:2px 10px;
    cursor:pointer;
}

.fav-off {
    background:url('../Images/fav_off.png') center no-repeat;
    padding:2px 10px;
    cursor:pointer;
}

.label-icon {
    background:url('../Images/labels.png') center no-repeat;
    padding:2px 13px;
}

.data-row {
    height:100%;
    background-color: white;
}

.search-input {
    border:1px solid #B7D0E5;
    height: 22px;
    line-height: 22px;
    padding: 0px;
}

.search-input::-ms-clear {
    display: none;
}

.menu-fav {
    width:25%;
}

.menu-labels {
    width:20%;
    position:relative;
}

.menu-search {
    width:55%;
    position:relative;
}

.labels-side-menu {
    width: 20%;
    border-right:1px solid #575757;
    height:94%;
    float:left;
    display:block;
    margin-top: -9px;
    margin-left: -1px;
    padding-right: 2px;
    background-color:#e6e6e6;
    overflow:auto;
}

    .labels-side-menu li {
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 10px 0px 10px 20px;      
    }

        .labels-side-menu li span {
            cursor: pointer;
            padding: 1px 8px;
            max-width: 80%;
            overflow: hidden;
            display: inline-block;
        }

    .labels-side-menu li.current {
        background-color:rgb(129, 129, 129);    
        margin-right:-2px;
    }

.documents-section {
    width:79%;
    float:right;
    height:90%;
    display:block;
    position:relative;
    color:black;
}

    .documents-list li {
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 21px;
        height: 20px;
        cursor:pointer;
    }

        .documents-list li input {
            float: left;
            margin-top: 4px;
            margin-right: 3px;
        }

        .documents-list li .fav-off, .fav-on{
            float: left;
            margin-top: -3px;
        }

        .documents-list li .doc-title {
            display:block;
            float:left;
            margin-left:10px;
            width:30%;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            height:20px;
        }

        .documents-list li .doc-summary {
            display: block;
            float: left;
            margin-left: 10px;
            width: 50%;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

            .documents-list li .doc-summary .create-date {
                font-size: 0.9em;
            }

            .documents-list li .doc-summary .summary-text {
                font-size:0.8em;
                padding-left:5px;
            }

.doc-labels {
    float: left;
}

    .doc-labels li {
        float: left;
        line-height: 11px;
        margin-right: 6px;
    }

        .doc-labels li span {
            cursor: pointer;
            padding: 1px 8px;
            font-size: 0.8em;
        }
        

.documents-list {
    width:100%;
    height: 88%;
}

.documents-pager {
    width:110%;
    height:12%;
    border-top:1px solid #575757;
    margin-left: -1.1%;
    padding: 7px;
    background-color:rgb(129, 129, 129);
}

    .documents-pager li {
        float: left;
        padding: 5px 9px;
        margin-left: 7px;
        cursor: pointer;
        font-size: 0.9em;
        color: white;
        border:1px solid rgb(129, 129, 129);
    }

    .documents-pager li:hover {
        border:1px solid white;
    }

        .documents-pager li.current {
            border:1px solid white;
        }

.search-icon {
    background:url('../Images/search.png') center no-repeat;
    padding:2px 8px;
    display:none;
}

.menu-labels-popup {
    color:black;
    position: absolute;
    width: 160px;
    background-color: white;
    border: 1px solid #575757;
    top: 30%;
    left: 65%;
    z-index:1001;
    padding-bottom:10px;
}

.documents-noresult {
    position: absolute;
    top: 20px;
    left: 30px;
}

.menu-labels-trigger {
    cursor:pointer;
    width: 120px;
    margin-top:5px;
}

.popup-labels-list {
    margin-left: 12px;
    display:inline-block;
}

    .popup-labels-list li {
        margin-top: 10px;
        float: left;
        clear: both;
    }

        .popup-labels-list li input {
            float:left;
            margin-top: 1px;
            margin-right: 5px;
        }

        .popup-labels-list li span {
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100px;
            float: left;
            font-size: 0.9em;
        }

.popup-labels-actions {

}

    .popup-labels-actions li {
        border-top: 1px solid #575757;
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 7px;
        margin-top: 10px;
        margin-bottom: 0px;
        cursor: pointer;
    }

    .popup-labels-actions a {
        text-decoration:none;
        color:black;
    }

.create-label-dialog .dialog-label {
    line-height:30px;
}

.create-label-dialog #create-label-input {
    margin-bottom:20px;
    width:200px;
}

.fix-colorPicker-trigger {
    display: inline-block !important;
    float:none !Important;
}

.create-label-dialog .error-noname {
    color:red;
}

.library-clear-text {
    position: absolute;
    left: 215px;
    cursor: pointer;
    top: 0px;
}

.label-error {
    display: block;
    color: red;
    text-align: center;
    padding-top: 5px;
}

.disable-label-operation {
    color: rgb(187, 187, 187);
    cursor: text !important;
}

.document-done {
    padding: 10px 10px;
    background: url('../Images/CheckIcons/CheckIcon16x16.png') no-repeat;
    background-position-y: 2px;
    position: absolute;
    right: 2%;
}

.search-input-wrapper {
    width: 185px;
    height: 30px;
    display: inline-block;
    margin-left: 5px;
}

@media only screen and (max-width: 620px) {
    .library-clear-text {
        left:191px;
	    top:1px;
    }

    .selDocBtnLine {
        right:3%;
    }

    .menu-label {
        display:none;
    }

    .search-icon {
        display:inline;
    }

    .labels-header {
        display:none;
    }

    .labels-side-menu {
        display:none;
    }

    .library-menu {
        width:100%;
    }

    .menu-search {
        margin-left: 3%;
    }

    .documents-section {
        width:100%;
    }

    .documents-list li {
        padding-left:10px;
    }

    .menu-labels-popup {
        left:57.5%;
    }
}

.delete-documents {
    margin-left: 2%;
    margin-bottom: 2%;
    border: none;
    min-width: 100px;
    height: 33px;
    color: white;
    font-size: 14px;
    position: absolute;
    right: 2%;
    top: 90%;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    -ms-border-radius:7px;
    -o-border-radius:7px;
    border-radius:5px;   
    background-color: #56a0c9;
    padding-left: 10px; 
    padding-right: 10px;
}

.unread {
    font-weight:bold;
}