.notifPageTitle {
    text-align:center;
}

.notificationsBody {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

.usersContainer {
    padding-left: 5px;
    margin-bottom: 5px;
}

.pageContent {
    background:#e6e6e6;
}

.notifSection {
    margin-bottom:20px;
} 

.notifTable {
    list-style: none;
    padding: 0px;
    margin: 0px;
    border: 1px solid #575757;
    height: 240px;
    display: block;
    overflow: auto;
    background:white;
}
    .notifTable span {
        display:inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .notifTable .lineBreak {
        visibility:hidden;
        width:100%;
    }

    .notifTable li {
        padding-left: 5px;
        height: 24px;
        line-height:24px;
        text-align:justify;
    }

    .notifTable .headerRow {
        background: #818181;
        color: white;
    }

    .notifTable .newNotif {
        font-weight:bold;
    }

    .notifTable .headerRow .from {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: moz-none;
        -ms-user-select: none;
        user-select: none;
        cursor:pointer;
    }

    .notifTable .headerRow .date {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: moz-none;
        -ms-user-select: none;
        user-select: none;
        cursor:pointer;
        font-size:16px;
    }

    .notifTable .headerRow .subject {
        line-height: 27px;
    }
    

    .notifTable .dataRow {
        cursor:pointer;
        border-bottom: 1px solid #EEE;
    }

    /*.notifTable .dataRow:hover {
        background:#C5C5C5;
    }*/
    

    .notifTable .from {
        width:12%;
        height: 100%;
        display:inline-block;
    }

    .notifTable .date {
        width:12%;
        height: 100%;
        display:inline-block;
        font-size:14px;
    }

    .notifTable .subject {
        height: 100%;
        width:33%;
    }

    .notifTable .related {
        width:38%;
        height: 100%;
        text-decoration:none;
    }

    .notifTable .dataRow .related:hover {
        text-decoration:underline;
    }

    .notifTable .sortTitle {
        width:70%;
    }

    .notifTable .sortIcon {
        font-size:22px;
    }

    .notifTable .selectedNotif {
        background:#56a0c9;
    }

    .notifTable .noNotifications {
        text-align: center;
        padding-top: 70px;
    }


.buttonBar {
    margin-top: 10px;
    text-align: right;
}

.buttonBar a {
    min-width: 100px;
    height: 34px;
    font-size: 14px;
    color: #fff;
    border-style: none;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    text-decoration: none;
    line-height: 35px;
    text-align: center;
    display:inline-block;
    background-color: #56a0c9;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
}

.notifPreviewSection {
    background: white;
    height: 240px;
    border-left: 1px solid #575757;
    border-right: 1px solid #575757;
    border-bottom: 1px solid #575757;
}

    .notifPreviewSection span {
        display: block;
    }

    .notifPreviewSection textarea {
        width: 99.5%;
        height: 172px;
        font-family: Arial;
        font-size: 16px;
        background-color: #fff;
        color: #000;
        overflow-y: auto;
        resize: none;
        border-top: 1px solid #999;
        border-left: none;
        border-right: none;
        border-bottom: none;
        margin: 5px 0px 0px 0px;
        padding-top: 5px;
    }


.notifAnswerSection {
    background: #fff;
    border-left: 1px solid #575757;
    border-right: 1px solid #575757;
    border-bottom: 1px solid #575757;
    padding-top:3px;
}

    .notifAnswerSection textarea {
        margin: 0px;
        width: 98%;
        height: 214px;
        border-left-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        padding-left: 1%;
        padding-right: 1%;
        resize: vertical;
        min-width: 98%;
        font-family: Arial;
        font-size: 16px;
    }

    .notifAnswerSection .singleLine {
        display:block;
        margin-left: 4px;
    }

    .notifAnswerSection .sibjectBar {
        padding-left:4px;
    }

        .notifAnswerSection .sibjectBar input {
            width:80%;
            margin-left:4px;
        }

.customMessage {
    height: 140px;
    background-color: white;
    border-left: 1px solid #575757;
    border-right: 1px solid #575757;
    border-bottom: 1px solid #575757;
    text-align: center;
    padding-top: 100px;
}