.selDocBtnLine {
    width:100%;
    height:20px;
    margin-bottom:20px;
    right: 1.8%;
    position: relative;

}

.scrollLeftArrow {
    background:url(../Images/arwBtn_left.png) center no-repeat;
    width:42px;
    height:42px;
    position:absolute;
    left: 5.5%;
    top: 260px;
}

.scrollLeftArrow:hover {
    background:url(../Images/arwBtn_left_hover.png) center no-repeat;
}

.scrollRightArrow {
    background:url(../Images/arwBtn_right.png) center no-repeat;
    width:42px;
    height:42px;
    position:absolute;   
    top: 260px;
    right: 6%;
}

.scrollRightArrow:hover {
    background:url(../Images/arwBtn_right_hover.png) center no-repeat;
}

.noSelect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.selDocItem {
    padding-left:11px;
    width:105px;
    height:200px;
    float:left;
    text-align:center;
}

.selDocItemName {
    width:105px;
    font-family:Arial;
    font-size:12px;
    color:#666;
    display: table-cell;
    height: 65px;
    vertical-align: bottom;    
}

.selDocInnerText {
    position: relative;
    top: 20%;
    font-family:Arial; 
}

/* --- */

.patSelImg {
    border: 2px solid #61A4CC;
    width: 97px !important;
    height: 97px !important;    
}

.patListItem {
    width: 49%;
    height: 140px;
    display: inline-block;
    border: 1px solid #c0c0c0;
    margin-bottom: 10px;
    background-color: #F9FCDC;
}

    .patListItem .users-image-anchor {
        color:transparent;
    }

    .patListItem .users-image-anchor:visited {
        color:transparent;
    }

.outterListWrapper {
    display:inline-block;
}

.usersList {
    /*text-align: justify;*/
    width: 96%;
    height: 440px;
    overflow-y: auto;
    padding: 10px 10px;
    border: 1px solid #575757;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    border-radius: 7px;
}

.userOperations {
    float: left;
    width: 44%;
    height: 100%;
}

    .userOperations ul {
        list-style:none;
        padding:0px;
        margin-top: 1em;
    }

        .userOperations ul li {
            margin-bottom: 13px;
        }

            .userOperations ul li a {
                background-color: #56a0c9;
                color: white;
                width: 100px;
                display: inline-block;
                height: 28px;
                text-align: center;
                line-height: 26px;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                margin-right: 7px;
                cursor:pointer;
                text-decoration: none;
            }

.newItems {
    position: relative;
    width: 65px;
    height: 25px;
    padding: 0px;
    background: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    line-height: 26px;
    background-color: #FCA250;
    font-size: 15px;
    border-color: #FCA250;
}

    .newItems:after {
        content: "";
        position: absolute;
        top: 4px;
        left: -11px;
        border-top: 8px solid transparent;
        border-right: 11px solid #FCA250;
        border-bottom: 8px solid transparent;
        display: block;
        width: 0;
        z-index: 1;
    }




.personalInfo {
    float: left;
    width: 30%;
    text-align:center;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top:14px;
}

.patient-list-image {
    width: 99px;
    height: 102px;
    float:left;
    cursor:pointer;
}

#patients-error-summary ul {
    width:300px;
    margin-left:auto;
    margin-right:auto;
    color:red;
}

.users-button {
    background-color: #56a0c9;
    color: #fff;
    display: inline-block;
    height: 28px;
    text-align: center;
    line-height: 26px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-right: 7px;
    cursor: pointer;
    text-decoration: none;
    padding-left: 7px;
    padding-right: 7px;
    text-transform: uppercase;
}

.bottomBar {
    text-align: right;
    margin-bottom: 20px;
    margin-top: 20px;
}

.selected {
    background-color:#9CD0EC;
}

.hide {
    display: none;
}

.users-messages {
    text-align: center;
    background-color: #FBFDDF;
    height: 40px;
    line-height: 38px;
    border-radius: 5px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid silver;
}

.users-message-error {
    color:red;
}

@media only screen and (max-width: 900px) {
    .patListItem {
        width:100%;
    }

    .usersList {
        text-align:center;
    }

    .userOperations {
        text-align:left;
    }
}